@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700');

*{
    border-radius: 0 !important;
    border: 0 !important;
}

body{
    font-family: "Poppins", sans-serif !important;
}

@media (max-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }

    .header_col {
        display: none;
    }
}

@media (min-width: 1025px) {
    .category {
        display: none !important;
    }
}
.carousel {
    width: 88vw;
    height: 400px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.carousel:hover .controls {
    opacity: 1;
}
.carousel .controls {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: space-between;
    z-index: 99999;
    transition: all ease 0.5s;
}
.carousel .controls .control {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.5;
    transition: ease 0.3s;
    cursor: pointer;
}
.carousel .controls .control:hover {
    opacity: 1;
}
.carousel .slides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all;
}
.carousel .slides .slide {
    min-width: 100%;
    min-height: 250px;
    height: auto;
}



.bottom{
    padding: 30px 10px 10px;
}
.add{

    height: 38px;
    border-radius: 4px;
    margin-left: 40px;
    padding-right: 22px;
    padding-left: 20px;
}

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}



.quantity {
    display: inline-block; }

.quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    border: 1px solid #efefef;
    cursor:pointer;}

.quantity.buttons_added .minus {
    border-right: 0; }

.quantity.buttons_added .plus {
    border-left: 0; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none; }

#addtocart {
    width: 250px;
}
.badge {
    background-color: red;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}
.shopping-cart {
    width: 320px;
    top: 30px;
    right: -10px;
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
}
.shopping-cart.active {
    opacity: 1;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(1);
    transform-origin: right top 0;
    transform: scale(1);
}
.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}
.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
    max-width: 70px;
    max-height: 70px;
}
.shopping-cart .shopping-cart-items .item-name {
    display: block;
    font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-detail {
    display: block;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.shopping-cart .shopping-cart-items .item-price {
    color: #00c0cb;
    margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
    color: #abb0be;
}
.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 8px solid transparent;
    border-bottom-color: white;
    margin-left: -8px;
}
.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}




.height-vh{
    height: 100vh;
}



